:root {
    --color-white: #fff;
    --color-primary-100: #e5e5e5;
    --color-primary-200: #cccccc;
    --color-primary-300: #b3b3b3;
    --color-primary-400: #999999;
    --color-primary-500: #808080;
    --color-primary-600: #666666;
    --color-primary-700: #4d4d4d;
    --color-primary-700-hover: #3d3232;
    --color-primary-700-active: #565252;
    --color-primary-700-rgb: 77, 77, 77;
    --color-primary-800: #333333;
    --color-primary-900: #1a1a1a;
    --color-primary-900-rgb: 26, 26, 26;
    --color-black: #000;

    --color-secondary-400: #a12f75;
    --color-secondary-400-hover: #921663;
    --color-secondary-400-active: #b13d85;

    --color-accent-400: #44789d;

    --text-dark: var(--color-primary-800);
    --text-light: var(--color-primary-100);

    --bg-body: #fff;
    --bg-body-rgb: 255, 255, 255;

    --ff-primary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --ff-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-sans-serif);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.4rem;
    --fs-700: 1.8rem;
    --fs-800: 2.4rem;
    --fs-900: 3rem;

    --fs-body: var(--fs-400);

    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;

    --size-100: .5rem;
    --size-200: .75rem;
    --size-300: 1rem;
    --size-400: 1.25rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 2.5rem;
    --size-800: 3rem;
    --size-900: 5rem;
}

/* RESET */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
/* Inherit resets the Styling on all Header elements. */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul[role='tablist'],
ol[role='tablist'] {
    list-style: none;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* END RESET */


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--ff-body);
    color: var(--text-dark);
    background-color: var(--bg-body);
}

body>* {
    padding-inline: var(--size-400);
}

h1 {
    margin-block: var(--size-200);
    font-family: var(--ff-heading), sans-serif;
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    text-align: center;
}

h1>a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

h3 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
}

main {
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(0, 1fr) [content-start] min(100%, 75rem)
        /* 1200px @ 16pt */
        [content-end] minmax(0, 1fr) [full-width-end];
}

main>* {
    grid-column: content;
}

main>section {
    position: relative;
    margin: 0;
    padding-block: var(--size-800);
    grid-column: full-width;
}

/* HEADER---------------------------- */

#main-header {
    position: relative;
    z-index: 999;
    background-color: var(--bg-header);
    padding-inline: 0;
}

/* Navigation */

.header-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-700);
    padding: var(--size-300);
    background-color: var(--color-primary-100);
}

.branding a {
    cursor: pointer;
    color: var(--text-dark);
    text-decoration: none;
}

.mobile-nav-toggle {
    display: none;
}

.main-nav {
    position: relative;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    gap: var(--size-500);
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
}

.main-nav a {
    color: var(--color-primary-700);
    text-decoration: unset;
} .main-nav a:hover {
    color: var(--color-primary-700-hover);
    text-decoration: underline;
} .main-nav a:active {
    color: var(--color-primary-700-active);
}

@media (max-width: 768px) {
    .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: var(--size-400);
        right: var(--size-400);
        width: 3em;
        aspect-ratio: 1;
        z-index: 2;
        cursor: pointer;
        background-color: var(--bg-body);
        border: 0;
        border-radius: 0.5em;
        /* background-color: var(--color-accent-100); */
        background-image: url("../img/icons/icon_hamburger.svg");
        color: var(--text-dark);
        background-size: contain;
        background-position: center;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../img/icons/icon_close.svg");
    }

    .main-nav-wrap {
        display: none;
        z-index: 1;
        width: 100%;
        padding: var(--size-900);
        justify-content: center;
        align-items: start;
        inset: 0;
        background-image: linear-gradient(var(--color-accent-100), #ffffffe0 66%);
    }

    .main-nav-wrap[data-visible] {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
    }

    ul.main-nav {
        flex-direction: column;
        background: var(--bg-body);
        box-shadow: 0 0 3px rgba(var(--color-primary-700-rgb), .4);
        padding: 2em 3em;
        border-radius: .4em;
    }
}

/* END HEADER */

/* FOOTER */

#primary-footer {
    position: relative;
    background-color: var(--color-primary-100);
    min-height: 200px;
    padding-block: 2rem;
    margin-top: auto;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}  /* @media */

.footer-nav {
    position: relative;
    padding-block: var(--size-200);
    font-size: var(--fs-400);
    text-align: right;
} /* @media */

.footer-nav a {
    color: var(--color-primary-700);
    text-decoration:none;
} .footer-nav a:hover {
    color: var(--color-primary-700-hover);
    text-decoration: underline;
} .footer-nav a:active {
    color: var(--color-primary-700-active);
}

.personal-details {
    padding-block: var(--size-300);
} /* @media */

.footer-site-link {
    font-size: 1.2rem;
}

@media (min-width: 576px) {
    .footer-wrap {
        flex-direction: row-reverse;
    }
    .footer-nav {
        text-align: center;
    }
    .personal-details {
        text-align: center;
    }
}
/* END FOOTER */

/* UTILITIES */

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.d-flex {
    display: flex;
}

.container {
    --max-width: 1200px;
    --container-padding: var(--size-600);
    width: min(var(--max-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container {
        --container-padding: var(--size-800)
    }
}

.container-md {
    --max-width: 768px;
    --container-padding: var(--size-600);
    width: min(var(--max-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container-md {
        --container-padding: var(--size-800)
    }
}

.squared {
    border-radius: .25rem !important;
}

.squared {
    border-radius: 0 !important;
}

.btn {
    --btn-color: var(--color-primary-700);
    --btn-border-color: var(--btn-color);
    --btn-color-hover: var(--color-primary-700-hover);
    --btn-color-active: var(--color-primary-700-active);

    --btn-bg-color: var(--btn-color);
    --btn-bg-color-hover: var(--btn-color-hover);
    --btn-bg-color-active: var(--btn-color-active);

    display: inline-block;
    text-decoration: none;
    padding: .6em 1em;
    color: var(--text-light);
    font-weight: var(--fw-bold);
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-border-color);
    border-radius: .25rem;
}.btn:hover {
    background-color: var(--btn-bg-color-hover);
    border-color: var(--btn-color-hover);

}.btn:active {
    background-color: var(--btn-bg-color-active);
    border-color: var(--btn-color-active);
}

.btn[data-btn="inverted"] {
    --btn-bg-color: transparent;
    --btn-bg-color-hover: transparent;
    --btn-bg-color-active: transparent;
    color: var(--btn-color);
}.btn[data-btn="inverted"]:hover {
    color: var(--btn-color-hover);
}.btn[data-btn="inverted"]:active {
    color: var(--btn-color-active);
}

.btn-secondary {
    --btn-color: var(--color-secondary-400);
    --btn-border-color: var(--btn-color);
    --btn-color-hover: var(--color-secondary-400-hover);
    --btn-color-active: var(--color-secondary-400-active);
}

.text-center {
    text-align: center;
}

.mb-400 {
    margin-bottom: var(--size-400);
}